{% extends "base.html" %}
{% block title %}Notifiche{% endblock %}
{% block content %}
<h1>Notifiche</h1>
{% if notifiche %}
    <ul class="messages">
        {% for n in notifiche %}
            <li class="message {% if not n.letta %}info{% endif %}">
                {{ n.creato_il|date:"d/m/Y H:i" }}: {{ n.messaggio }}
                {% if n.link %}<a href="{{ n.link }}">Vai</a>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nessuna notifica.</p>
{% endif %}
{% endblock %}
